/*-- Reset all margin and padding on page for a clean slate for design--*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/*------------------Brand Styles-------------------------------*/
.topnav .brand {
	color: #5FCF80;
	float: left;
	font-size: 1.3rem;
	margin-left: 80px;
}

.topnav .brand:hover {
	color: #34ad58;
	transition: color .3s ease-in;
}

/*------------------Navigation Styles-------------------------------*/
.topnav {
	border-bottom: 1px solid #F1F4F6;
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: white;
}

.topnav a {
	float: right;
	text-decoration: none;
	font-size: .9rem;
	font-family: 'Varela Round', sans-serif;
	color: #879598;
	margin: 25px 16px 25px 30px;
}

.topnav a:hover {
	color: #4b5658;
	transition: color .3s ease-in;
}

.topnav .free-Trial {
	color: #6AD289;
	margin-right: 30px;
}

.topnav .free-Trial:hover {
	color: #34ad58;
	transition: color .3s ease-in;
}

.topnav .icon {
	display: none;
}

/*------------------Body styles-------------------------------*/

#content {
	padding-top: 75px;
}

.learnAndGetStarted {
	background-color: #5FCF80;
	display: flex;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 80px;

}

.learnWebDesign {
	color: white;
	flex: 1;
	padding: 20px;
	margin-top: 0px;
}

.learnH1 {
	font-size: 45px;
}

.getStartedForm {
	flex: 1;
	background: white;
}

.formBanner {
	padding: 20px;
	text-align: center;
	background-color: #637a91;
	color: white;
	border-radius: 5px 5px 0 0;
}

label, input {
	display: flex;
}

input {
	padding: 5px;
	background-color: #F9FAFA;
	border-color: #d4d9dd;
	border: 2px solid #d4d9dd;
	font-family: 'Montserrat', sans-serif;
	color: #40484a;

}

.claimFreeTrial {
	padding: 20px;
	text-align: center;
	color: white;
	background-color: #41C468;
	font-family: 'Montserrat', sans-serif;
	border: none;
	cursor: pointer;
	text-decoration: none;
}